body{
    font-size: 20px;
    font-family: monospace;
    background: lightgrey;
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid lightseagreen;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color : lightseagreen;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#question{
    width:500px;
    height : 125px;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#scoreContainer p{
    left:0;
    position: absolute;
    top: 160px;
    left: 150px;
}
